body {margin: 0; text-decoration: none;}

html {
  scroll-behavior: smooth;
}

@import 'https://fonts.googleapis.com/css?family=Raleway';

.fixed{
position: fixed;
top: 0;
height: 90px;
z-index: 1;
border-bottom-style: solid;
border-bottom-color: white;
border-width: thick;

}
nav
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vh;
  font-family: Raleway;
  margin: 0 auto;
	text-align: center;
	background: #68739C;
  position: absolute;
  width: 100%;
  bottom: 0;

}
.nav-links li{
list-style: none;
padding-top: 20px;
}
.nav-links a {
  color: #ddd;
font: 20px Raleway;
margin: 0px 0px;
padding: 15px;
position: relative;
}

nav a:hover {
  color: white;
	text-decoration: none;
}
/* Top and Bottom borders come in */
nav a:before, nav a:after
{
	  text-decoration: none;
    position: absolute;
    left: 0px;
    width: 100%;
    height: 1.6px;
    background: #FFF;
    content: "";
    opacity: 0;
    transition: 1s;
}
nav a:before
{
    top: 0px;
    transform: translateY(-15px);
}
nav a:after
{
    bottom: 0px;
    transform: translateY(15px);
}
nav a:hover:before, nav a:hover:after
{
  opacity: 1;
  transform: translateY(0px);
}













.nav-links{
display: flex;
justify-content: space-around;
width: 40%
}




.burger{
display: none;
}
.burger div{
width: 25px;
height: 3px;
background-color: white;
margin: 5px;

}

@media screen and (max-width:768px){
  body{
	overflow-x: hidden;

    }
    .burger{
  display: block;
cursor: pointer;

    }
    .nav-links{
    position: absolute;
    right: 0px;
    height: 88vh;
    top:12vh;
    background-color:  #68739C;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
  }
  .nav-links li{
    opacity: 0;
  }

}

.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }

}

.toggle .line1{
   transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
   opacity: 0;
}
.toggle .line3{
   transform: rotate(45deg) translate(-5px,-5px);
}




.intro {
  top: 0;       /*Set the top edge of the positioned element*/
  background: #D3D7DB;
  min-height: 100vh;
  padding-top: 25vh;
  padding-bottom: 5vh;
}


#About h1 {
   font-size: 80px;
   margin: 0;
   color: #8F6E8D;
   text-align: center;
 }
 h2 {
    font-size: 40px;
    margin: 0;
    color: #422C41;
    text-align: center;
  }


footer {
  border-top-style: solid;
  border-top-color: white;
  border-width: thick;
  font: 20px Raleway;
  color: #ddd;
  background: #68739C;
  padding: 5em 0;
  text-align: center;
}

.social-icons {
  margin: 0 auto;
  max-width: 15em;
  display: flex;
  justify-content: space-between;
  margin: 1.75em auto 6em; }

.social-icon {
  width: 25%;
  height: 25%; }

.social-icon:hover {
    transform: scale(1.5);
}

.copyright::before {
  color: #ddd;;
  content: '';
  display: block;
  height: 1px;
  background: #D3D7DB;
  margin: 5em auto;
  width: 25%; }


  @import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);

  .container {
  	max-width:400px;
  	width:100%;
  	margin:0 auto;
  	position:relative;
  }

  #contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

  #contact {
  	background:#D3D7DB;
  	padding: 25px;
  	margin: 55px 0;
  }

  #contact h3 {
  	color: #8F6E8D;
  	display: block;
  	font-size: 30px;
  	font-weight: bolder;
  }

  #contact h4 {
    color: #422C41;
  	margin:5px;
  	display:inline-block;
  	font-size:13px;
  }

  fieldset {
  	margin: 0 0 10px;
  	min-width: 100%;
  	padding: 0;
  	width: 100%;
  }

  #contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact textarea {
  	width:100%;
  	border:1px solid #CCC;
  	background:#FFF;
  	margin:0 0 5px;
  	padding:10px;
  }

  #contact textarea {
  	height:110px;
  	max-width:100%;
    resize:none;
  }

  #contact button[type="submit"] {
  	cursor: pointer;
  	width:100%;
  	border:none;
  	background:#0CF;
  	color:#FFF;
  	margin:0 0 5px;
  	padding: 10px;
  	font-size:15px;
  }

  #contact button[type="submit"]:hover {
  	background:#09C;
  }

  #contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

  #contact input:focus, #contact textarea:focus {
  	outline:0;
  	border:1.5px solid #999;
  }
